<mat-dialog-content>
    <h4 class="mat-h4">Create Project</h4>
    <div class="input-container">
        <app-input [placeholder]="'Enter the name of your project'"
                   [formControl]="$any(projectForm.controls['projectName'])"
                   [label]="'Project name'">
        </app-input>
        <app-input [placeholder]="'Enter default branch name'"
                   [formControl]="$any(projectForm.controls['defaultBranchName'])"
                   [label]="'Default branch'"
                   (input)="replaceSpacesWithHyphens($event)">
        </app-input>
    </div>
    <div class="drop-down-container">
        <mat-form-field appearance="outline" class="custom-select full-width">
            <mat-label for="engineSelect">Database Engine:</mat-label>
            <mat-select id="engineSelect" [formControl]="$any(projectForm.controls['selectedEngine'])">
                <mat-option value="1">SQL Server</mat-option>
                <mat-option value="2">PostgreSQL</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="modal-buttons">
    <app-button text="Create" width="100%" variant="outline-primary"
        [isDisabled]="projectForm.invalid"
        (buttonOnClick)="createProject()">
    </app-button>

    <app-button text="Close" width="100%" variant="outline-secondary" (mousedown)="close()">
    </app-button>
</mat-dialog-actions>
