<div
    class="project-card"
    [ngClass]="{
        postgreSql: project.engine === 'PostgreSql',
        sqlServer: project.engine === 'SqlServer'
    }">
    <div class="side-panel"></div>
    <div class="engine-logo-container">
        <img [src]="engineLogoImage" alt="Engine Logo" class="engine-logo" />
    </div>
    <div class="project-name">
        {{ project.name }}
    </div>
    <div class="project-tag-container">
        <div class="project-tag">
            {{ project.engine }}
        </div>
    </div>
    <div class="project-description-container">
        <div class="project-description">
            {{ project.description }}
        </div>
    </div>
    <div class="project-date">{{ project.date | formatDate }}</div>
</div>
