<div class="project-card">
    <div class="side-panel" [style.background-color]="accentColor"></div>
    <div class="engine-logo-container" [style.background-color]="accentColor">
        <img [src]="engineLogoImage" alt="Engine Logo" class="engine-logo" />
    </div>
    <div class="project-name">
        {{ project.name }}
    </div>
    <div class="project-tag-container">
        <div class="project-tag" [style.border-color]="accentColor" [style.color]="accentColor">
            {{ project.engine }}
        </div>
    </div>
    <div class="project-description-container">
        <div class="project-description">
            {{ project.description }}
        </div>
    </div>
    <div class="project-date">{{ project.date }}</div>
</div>
