<div class="registration-container">
    <div class="registration-content">
        <h4 class="registration-heading">Sign Up</h4>

        <div class="additional-sing-up">
            <app-button class="margin-top" text="Sign Up with GitHub" variant="outline-primary" width="100%">
            </app-button>
            <app-google-button authType="signup_with"></app-google-button>
        </div>

        <app-barrier [text]="'or'"></app-barrier>

        <form
            [formGroup]="registerForm"
            (ngSubmit)="registerForm.valid && register()"
            class="registration-form"
            action="">
            <app-input
                [formControl]="$any(registerForm.controls['username'])"
                [label]="'username'"
                placeholder="Enter your Username">
            </app-input>
            <app-input
                [formControl]="$any(registerForm.controls['email'])"
                [label]="'email'"
                placeholder="Enter your Email">
            </app-input>
            <app-input
                [formControl]="$any(registerForm.controls['firstName'])"
                [label]="'first Name'"
                placeholder="Enter your FirstName">
            </app-input>
            <app-input
                [formControl]="$any(registerForm.controls['lastName'])"
                [label]="'last Name'"
                placeholder="Enter your LastName">
            </app-input>
            <app-input
                [formControl]="$any(registerForm.controls['password'])"
                [label]="'password'"
                [type]="'password'"
                placeholder="Enter your Password">
            </app-input>
            <app-input
                [formControl]="$any(registerForm.controls['confirmPassword'])"
                [label]="'confirm Password'"
                [type]="'password'"
                placeholder="Enter your Password again">
            </app-input>

            <app-button
                class="margin-top"
                [isDisabled]="registerForm.invalid"
                text="Sing Up"
                variant="filled"
                width="100%">
            </app-button>
        </form>
    </div>

    <div class="registration-footer margin-top">Already have account? <a class="login-link" routerLink="/login">Sign In</a></div>
</div>
