@import "/src/styles/color"
.registration-container
    height: 100%
    padding: 0 20%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between

.registration-content
    width: 100%

    h4
        color: $text-main

.additional-sing-up
    display: flex
    flex-direction: column

.registration-form
    display: flex
    flex-direction: column

.registration-footer
    margin-bottom: 20px
    color: $text-light
    font-size: 14px
    font-weight: 400

    a
        color: $link-color

.margin-top
    margin-top: 15px
