@import "/src/styles/color"
@import "/src/styles/reusable"
.registration-container
    min-width: 302px
    height: 100%
    padding: 0 20%
    @extend .flex-column
    align-items: center
    justify-content: space-between

.registration-content
    width: 100%
    min-width: 302px
    h4
        color: $text-main

.additional-sing-up
    @extend .flex-column
    gap: 10px

.registration-form
    @extend .flex-column

.registration-footer
    margin-bottom: 20px
    color: $text-light
    font-size: 14px
    font-weight: 400

    a
        color: $link-color

.margin-top
    margin-top: 15px
