<div class="container" style="max-width: 550px">
    <div *ngIf="!isLoggedIn">
        <div>
            <label> Login with Google</label>
            <asl-google-signin-button type="standard" size="large" text="signin_with"></asl-google-signin-button>
        </div>
    </div>
    <div *ngIf="isLoggedIn">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly />
        </div>
        <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
    </div>
</div>

<app-loading-spinner></app-loading-spinner><router-outlet></router-outlet>
