@import "/src/styles/color"
@import "/src/styles/weights"

.button-container
    margin-top: 20px

.text-area-container
    margin-top: 15px

.description-msg-input
    border: none
    resize: none
    font-weight: $medium-weight
    color: $text-main
    background-color: $bg-input
    border-radius: 5px
    width: 100%
    font-size: 14px
    margin-bottom: 10px
    padding: 15px 15px

.description-label
    color: $text-main
    font-size: 12px
    font-weight: $medium-weight
    margin-top: 10px
    margin-bottom: 5px

