<div class="registration-container">
    <div class="registration-content">
        <h4>Sing Up</h4>

        <div class="additional-sing-up">
            <button>Sing Up wia GitHub</button>
            <button>Sing Up wia Google</button>
        </div>

        <div class="barrier">
            <hr>
            <p class="barrier-text">or</p>
        </div>

        <form class="registration-form" action="">
            <label>Username</label>
            <input type="text" placeholder="Enter your Username">

            <label>Email</label>
            <input type="text" placeholder="Enter your Email">

            <label>Username</label>
            <input type="password" placeholder="Enter your Password">

            <label>Username</label>
            <input type="password" placeholder="Enter your Password again">

            <button type="submit">Sing Up</button>
        </form>
    </div>

    <div class="registration-footer">
        Already have account? <a href="">Sign In</a>
    </div>
</div>
