$bg-color: #2B10FFCC
$bg-input: #F0F3F9

$text-main: #282828
$text-danger: #ff0000
$text-light: #787878
$link-color: #705FF5
$text-gray: #979797

$primary-color: #3C26E6
$white: #FFFFFF
$light-gray: #E5E5E5

$add-button-color: #2DB0FD

$misc-background-color: #EAECF1

$avatar-online-outline: #EC4179
$avatar-offline-outline: #777

$project-background-color: #FAFBFF

$line-color: #F0F3F9
$line-dark-color: #E1E4E9

$arrow-color: #8e8c8c
$shadow: rgba(0,0,0,0.05)
