@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap')

$primary-blue: #21D7FF
$primary-violet: #503AF9

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Montserrat', 'sans-serif'

.plus-btn
    font-size: 14px
    color: $primary-blue
    width: 30px
    height: 30px
    border: 1px solid $primary-blue
    background-color: #fff
    border-radius: 5px

.plus-btn:hover
    color: #fff
    background-color: $primary-blue
    cursor: pointer
