@import "/src/styles/color"
@import "/src/styles/weights"
.flex-column
    display: flex
    flex-direction: column

.title
    font-family: inherit
    color: $text-main
    font-weight: $semi-bold-weight
