<div class="dropdown-collection">
    <div
        (click)="isDropdownOpen || focusToInput()"
        class="dropdown-input"
        [ngStyle]="{ 'min-height': height, width: width }">
        <div class="chiplist-container">
            <mat-chip-list class="chip-list" #chipList>
                <mat-chip class="chip" *ngFor="let option of selectedOptions" (click)="select(option)">
                    <span *ngIf="!template" class="dropdown-value" [innerHTML]="sanitize(option)"></span>
                    <span *ngIf="chipTemplate">
                        <ng-template *ngTemplateOutlet="chipTemplate; context: { $implicit: option }"></ng-template
                    ></span>
                </mat-chip>
            </mat-chip-list>
            <input
                type="text"
                [(ngModel)]="input"
                (ngModelChange)="onInputChanged()"
                (focus)="toggleDropdown()"
                aria-haspopup="listbox"
                aria-labelledby="dropdown-label"
                #inputTrigger
                placeholder="{{ placeholder }}"
                [matChipInputFor]="chipList"
                [matChipInputAddOnBlur]="true" />
        </div>
    </div>

    <ul class="dropdown-list" role="listbox" aria-expanded="false" [ngClass]="{ 'dropdown-open': isDropdownOpen }">
        <li
            *ngFor="let o of filteredOptions"
            [ngStyle]="{ height: height }"
            [value]="o"
            tabindex="0"
            (click)="select(o)"
            [ngClass]="{ selected: isSelected(o) }"
            role="option">
            <div class="vertical-line"></div>
            <div class="option-container">
                <div *ngIf="!template" [innerHTML]="sanitize(o)"></div>
                <ng-template *ngTemplateOutlet="template; context: { $implicit: o }"></ng-template>
            </div>
        </li>
    </ul>
</div>
