<div class="downloads-container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="content">
        <div class="header">
            <h3 class="downloads-header">Downloads</h3>
        </div>

        <section class="section">
            <div class="download-card" (click)="downloadApp(OS.Windows)">
                <fa-icon [icon]="faWindows"></fa-icon>
                <h3>Console App for Windows</h3>
                <app-button variant="filled" text="Download"></app-button>
            </div>

            <div class="download-card" (click)="downloadApp(OS.Linux)">
                <fa-icon [icon]="faLinux"></fa-icon>
                <h3>Console App for Linux</h3>
                <app-button variant="filled" text="Download"></app-button>
            </div>

            <div class="download-card" (click)="downloadApp(OS.Macos)">
                <fa-icon [icon]="faApple"></fa-icon>
                <h3>Console App for MacOS</h3>
                <app-button variant="filled" text="Download"></app-button>
            </div>
        </section>
    </div>
</div>
