@import "/src/styles/color"
@import "/src/styles/weights"

.upper-panel-container
    display: flex
    justify-content: space-between
    align-items: center

.horizontal-separator
    border-bottom: 1px solid $light-gray
    width: 100%

.mat-h3
    padding-left: 20px
    margin: 30px
    margin-left: 80px
    font-size: 28px
    font-weight: $bold-weight

.downloads-container
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    padding: 30px
    margin-top: 80px
    margin-left: 100px
    max-width: 400px
    z-index: 1
    background-color: white
    
.lines-background
    position: fixed
    top: 100px
    right: 0
    left: 20%
    width: 80%
    z-index: -1

.squirrel-image
    width: 100%
    max-width: 400px

.description-text
    margin-top: 20px
    text-align: left
    max-width: 350px

.buttons-container
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    max-width: 400px
    margin-top: 20px

fa-icon
    font-size: 20px
