@import "/src/styles/color"

mat-card-content
    overflow: hidden
    text-overflow: ellipsis

mat-card
    background: $light-shadow
    display: flex
    align-items: center
    gap: 10px

app-avatar
    display: inline
