<div class="container">
    <div class="summary main-text">
        <div class="avatar">
            <img src="{{ pullRequest.author.avatarUrl }}" />
        </div>
        <div class="info">
            <div class="primary-info">
                <p>{{ pullRequest.title }}</p>
                <div class="branch">
                    <p>{{ pullRequest.sourceBranch.name }}</p>
                </div>
                <img src="assets/arrow_right_icon.svg" />
                <div class="branch">
                    <p>{{ pullRequest.destinationBranch.name }}</p>
                </div>
            </div>
            <div class="secondary-info">
                <p>
                    {{ pullRequest.author.firstName }} {{ pullRequest.author.lastName }} -#{{ pullRequest.id }}, created
                    {{ calculateTime(pullRequest.createdAt) }} ago, updated
                    {{ calculateTime(pullRequest.updatedAt) }} ago
                </p>
            </div>
        </div>
    </div>
    <div class="activity main-text">
        <div class="comments" *ngIf="pullRequest.comments.length > 0">
            <img class="sms_icon" src="assets/sms_icon.svg" />
            <p>{{ pullRequest.comments.length }}</p>
        </div>
    </div>
    <div class="reviewiers">
        <div *ngFor="let reviewer of pullRequest.reviewers.slice(0, 3)" class="avatar">
            <img src="{{ reviewer.avatarUrl }}" />
        </div>
        <div class="overflowed" *ngIf="pullRequest.reviewers.length > 3">
            <p>+{{ pullRequest.reviewers.length - 3 }}</p>
        </div>
    </div>
</div>
