<div class="rounded-container">
    <h5>Pull Request</h5>
    <div class="actions">
        <div class="inputs-container">
            <app-input [width]="'100%'" [placeholder]="'Search...'" [formControl]="$any(searchForm.controls['search'])">
            </app-input>
            <app-dropdown-select
                [width]="'100%'"
                placeholder="Branch type"
                [options]="dropdownItems"
                (valueChange)="onBranchTypeSelectionChange($event)">
            </app-dropdown-select>
            <app-dropdown-select
                [width]="'100%'"
                [placeholder]="'Author'"
                [options]="dropdownAuthors"
                [template]="usertemplate"
                [chipTemplate]="chiptemplate"
                [filterPredicate]="filterUsers"
                (valueChange)="onAuthorSelectionChange($event)">
            </app-dropdown-select>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="reviewing" />
            <label for="reviewing">I'm reviewing</label>
        </div>
        <ng-template #usertemplate let-item>
            <div class="user-container">
                <img src="{{ item.avatarUrl }}" />
                <p>{{ item.firstName + ' ' + item.lastName }} {{ item.userName ? '(' + item.userName + ')' : '' }}</p>
            </div>
        </ng-template>
        <ng-template #chiptemplate let-item>
            <p>{{ item.email }}</p>
        </ng-template>
    </div>
    <div class="table">
        <div class="table-headers">
            <p class="first">Summary</p>
            <p class="second">Activity</p>
            <p class="third">Reviewers</p>
        </div>
        <div class="table-content">
            <div class="pull-request-container" *ngFor="let pr of pullRequests">
                <hr class="line" />
                <app-pull-request [pullRequest]="pr"></app-pull-request>
            </div>
        </div>
    </div>
</div>
