<div class="container">
    <div class="main-content" *ngIf="scripts.length > 0">
        <!-- TODO: create custom ListBoxComponent -->
        <div class="scripts-sector">
            <ul cdkListbox [cdkListboxValue]="scripts" (cdkListboxValueChange)="onScriptSelected($event)"
                class="listbox bordered">
                <li *ngFor="let script of scripts" [cdkOption]="script" class="option">
                    <app-script [script]="script"></app-script>
                </li>
            </ul>
        </div>
        <div class="editor-sector">
            <!-- TODO: create custom TextEditorComponent -->
            <textarea class="editor bordered" [ngModel]="selectedScript?.content"
                (ngModelChange)="updateScriptContent($event)"></textarea>
        </div>
    </div>

    <div class="buttons-sector">
        <app-button variant="outline-primary" text="Create new" (buttonOnClick)="openCreateModal()"></app-button>
        <div class="buttons-container">
            <app-button variant="outline-secondary" text="Format" [isDisabled]="!selectedScript"
                (buttonOnClick)="formatScript()"></app-button>
            <app-button variant="outline-primary" text="Execute" [isDisabled]="!selectedScript"
                (buttonOnClick)="executeScript()"></app-button>
            <app-button variant="outline-primary" text="Save" [isDisabled]="!selectedScript || !form.dirty"
                (buttonOnClick)="saveScript()"></app-button>
        </div>
    </div>

    <div *ngIf="currentScriptError" class="script-error">
        <p><strong>Last error from query "{{selectedScript?.title}}" at {{ currentScriptError.date |
                date:'medium' }}: {{ currentScriptError.message }}</strong></p>
    </div>

    <div *ngIf="currentScriptResult" class="script-result">
        <p>
            <strong>Last result from query "{{selectedScript?.title}}" at {{ currentScriptResult.date |
                date:'medium' }}:</strong>
        </p>
        <table mat-table [dataSource]="currentScriptResult.rows">
            <ng-container *ngFor="let columnName of currentScriptResult.columnNames" [matColumnDef]="columnName">
                <th class="cell" mat-header-cell *matHeaderCellDef> {{ columnName }} </th>
                <td class="cell" mat-cell *matCellDef="let element">
                    {{ element[currentScriptResult.columnNames.indexOf(columnName)] }}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="currentScriptResult.columnNames"></tr>
            <tr mat-row *matRowDef="let row; columns: currentScriptResult.columnNames;"></tr>
        </table>

        <table>
            <tr>
                <th *ngFor="let columnName of currentScriptResult.columnNames">
                    {{ columnName }}
                </th>
            </tr>
            <tr *ngFor="let row of currentScriptResult.rows">
                <td class="cell" *ngFor="let cell of row"> {{ cell }} </td>
            </tr>
        </table>
    </div>
</div>