<div class="no-scripts" *ngIf="scripts.length === 0">
    <h1>There are no scripts, create one)</h1>
    <app-button variant="outline-primary" text="Create new" (buttonOnClick)="createScript()"></app-button>
</div>

<div class="container" *ngIf="scripts.length > 0" [class.padding-bottom]="currentScriptResult || currentScriptError">
    <div class="main-content">
        <div class="scripts-sector">
            <app-input [width]="'100%'"
                       [placeholder]="'Search...'"
                       [formControl]="$any(form.controls['search'])"
                       (input)="filterScripts()">
            </app-input>
            <ul cdkListbox [cdkListboxValue]="filteredScripts" class="listbox bordered">
                <li class="option" *ngFor="let script of filteredScripts" [cdkOption]="script"
                    [class.selected-option]="selectedScript?.id === script.id"
                    [class.unsaved]="form.controls['scriptContent'].dirty && selectedScript?.id === script.id">
                    <app-script [script]="script" (click)="onScriptSelected(script)"
                                (delete)="deleteScript(script.id)"></app-script>
                </li>
            </ul>
        </div>
        <div class="editor-sector">
            <div class="no-selected-script" *ngIf="!selectedScript">
                <h1><< Select some script</h1>
            </div>
            <app-code-editor *ngIf="selectedScript"
                             [formControl]="$any(form.controls['scriptContent'])"
                             [name]="selectedScript.fileName">
            </app-code-editor>
        </div>
    </div>

    <div class="buttons-sector">
        <app-button variant="outline-primary" text="Create new" (buttonOnClick)="createScript()"></app-button>
        <div class="buttons-container">
            <app-button variant="outline-secondary" text="Format" [isDisabled]="!selectedScript"
                        (buttonOnClick)="formatScript()"></app-button>
            <app-button variant="outline-primary" text="Execute" [isDisabled]="!selectedScript"
                        (buttonOnClick)="executeScript()"></app-button>
            <app-button variant="outline-primary" text="Save" [isDisabled]="!selectedScript || !form.dirty"
                        (buttonOnClick)="saveScript()"></app-button>
        </div>
    </div>

    <app-script-error-result *ngIf="currentScriptError" [scriptError]="currentScriptError"
                             [scriptTitle]="selectedScript?.title ?? ''">
    </app-script-error-result>

    <app-script-result *ngIf="currentScriptResult" [scriptResult]="currentScriptResult"
                       [scriptTitle]="selectedScript?.title ?? ''">
    </app-script-result>

    <app-button [class.d-block]="isToTopBtnShowed" class="to-top-btn" (buttonOnClick)="scrollToResult(true)" variant="filled">
        <fa-icon [icon]=" arrowUp" style="color: white"></fa-icon>
    </app-button>

</div>
