.container
    margin: 10px

.main-content
    display: flex
    gap: 25px

.scripts-sector
    display: flex
    flex-direction: column
    gap: 10px
    padding: 10px
    overflow-y: scroll
    width: 25%
    height: 60vh

.editor-sector
    display: flex
    width: 75%
    height: 100%
    align-items: flex-start

.buttons-sector
    margin-top: 20px
    display: flex
    justify-content: space-between

.buttons-container
    display: flex
    gap: 20px

textarea
    flex-grow: 1
    padding: 10px
    height: 60vh
    resize: none
