@import "/src/styles/color"

p
    margin: 15px

.container
    margin: 10px

.bordered
    border: 1px solid $black
    border-radius: 5px

.main-content
    display: flex
    gap: 25px

.scripts-sector
    display: flex
    flex-direction: column
    overflow-y: auto
    width: 25%
    height: 60vh

.listbox
    list-style: none
    padding: 0
    margin: 0

.option
    position: relative

.selected-option
    background: $dark-shadow

.editor-sector
    display: flex
    width: 75%
    height: 100%
    align-items: flex-start

.buttons-sector
    margin-top: 20px
    display: flex
    justify-content: space-between

.buttons-container
    display: flex
    gap: 20px

textarea
    flex-grow: 1
    padding: 10px
    height: 60vh
    resize: none

.script-error
    color: $text-danger
    background-color: $error-background-color
    padding: 10px
    border: 1px solid $error-border-color
    border-radius: 5px
    margin-top: 10px

.script-result
    color: $text-main
    border: 1px solid $black
    border-radius: 5px
    margin-top: 10px
    margin-bottom: 10px
    overflow: scroll
    padding-bottom: 10px

.spacing-div
    height: 10px

.cell
    text-align: center
    margin-right: 5px
    margin-left: 5px
    max-width: 10%
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

table
    margin-left: 15px
    width: 100%
    max-width: 100%
    overflow-x: auto
    display: block
    border-spacing: 0

    th, td  
        padding: 5px 10px

    th
        background-color: $light-gray

.table-wrapper
    overflow-x: auto
    overflow-y: hidden
    height: calc(100% + 10px)
    margin-bottom: 15px
    padding-bottom: 15px

    &::-webkit-scrollbar
        width: 10px

    &::-webkit-scrollbar-thumb
        background-color: $dark-grey
        outline: 1px solid $light-gray
