@import "/src/styles/color"
@import "/src/styles/weights"

.container
    margin: 10px

.padding-bottom
    padding-bottom: 70px

.bordered
    border-radius: 5px

.main-content
    display: flex
    gap: 25px
    height: 60vh

.sector
    background-color: $project-background-color
    padding: 10px
    border-radius: 10px

.scripts-sector
    @extend .sector
    display: flex
    flex-direction: column
    width: 25%
    height: 100%

.listbox
    overflow-y: auto
    list-style: none
    cursor: pointer
    padding: 10px
    margin-top: 10px

.option
    background-color: $bg-input
    border-radius: 5px
    position: relative

.selected-option
    background-color: darken($bg-input, 5%)

.editor-sector
    @extend .sector
    width: 75%
    height: 100%

.buttons-sector
    margin-top: 20px
    display: flex
    justify-content: space-between

.buttons-container
    display: flex
    gap: 20px

.editor
    flex-grow: 1
    padding: 10px
    height: 60vh
    resize: none

.spacing-div
    display: flex
    justify-content: center
    align-items: center
    padding: 35px

.unsaved
    position: relative
    &:after
        content: ''
        height: 100%
        width: 6px
        background-color: lighten(red, 20%)
        position: absolute
        top: 0
        right: 0
        border-radius: 0 5px 5px 0


.to-top-btn
    position: fixed
    bottom: 20px
    right: 25px
