<div class="container">
    <div class="main-content" *ngIf="scripts.length > 0">
        <div class="scripts-sector">
            <ul cdkListbox [cdkListboxValue]="scripts" class="listbox bordered">
                <li class="option" *ngFor="let script of scripts" [cdkOption]="script"
                    [class.selected-option]="selectedScript?.id === script.id"
                    [class.unsaved]="form.dirty && selectedScript?.id === script.id">
                    <app-script [script]="script" (click)="onScriptSelected(script)"></app-script>
                </li>
            </ul>
        </div>
        <div class="editor-sector">
            <!-- TODO: create custom TextEditorComponent -->
            <textarea class="editor bordered" [formControl]="$any(form.controls['scriptContent'])">
                {{selectedScript?.content}}
            </textarea>
        </div>
    </div>

    <div class="buttons-sector">
        <app-button variant="outline-primary" text="Create new" (buttonOnClick)="openCreateModal()"></app-button>
        <div class="buttons-container">
            <app-button variant="outline-secondary" text="Format" [isDisabled]="!selectedScript"
                (buttonOnClick)="formatScript()"></app-button>
            <app-button variant="outline-primary" text="Execute" [isDisabled]="!selectedScript"
                (buttonOnClick)="executeScript()"></app-button>
            <app-button variant="outline-primary" text="Save" [isDisabled]="!selectedScript || !form.dirty"
                (buttonOnClick)="saveScript()"></app-button>
        </div>
    </div>

    <app-script-error-result *ngIf="currentScriptError" [scriptError]="currentScriptError"
        [scriptTitle]="selectedScript?.title ?? ''">
    </app-script-error-result>

    <app-script-result *ngIf="currentScriptResult" [scriptResult]="currentScriptResult"
        [scriptTitle]="selectedScript?.title ?? ''">
    </app-script-result>

    <div class="spacing-div">
        <app-button *ngIf="currentScriptResult && currentScriptResult.rowCount > rowsCountForToTopBtn"
            (buttonOnClick)="scrollToResult(true)" text="To the top of the table">
        </app-button>
    </div>
</div>
