@import "/src/styles/color"
.login-container
    height: 100%
    padding: 0 20%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between

.login-content
    width: 100%
    margin-top: 140px

    h4
        color: $text-main

.additional-sing-in
    display: flex
    flex-direction: column

    button
        color: $primary-color
        border: solid 1px $primary-color
        background: none

.barrier
    height: 20px
    position: relative
    margin-top: 30px

    hr
        border: 1px solid $light-gray

.barrier-text
    position: absolute
    margin: 0
    padding: 0 4px
    top: -50%
    left: 50%
    transform: translateX(-50%)
    background-color: $white

    color: $light-gray
    font-size: 18px
    font-weight: 500

.login-form
    display: flex
    flex-direction: column

    button
        color: $white
        background-color: $primary-color
        border: none
        margin-top: 20px
    label
        color: $text-main
        font-size: 12px
        font-weight: 500
        margin-top: 10px
        margin-bottom: 5px

button
    padding: 15px
    font-size: 16px
    font-weight: 600
    border-radius: 7px
    margin: 10px 0
    cursor: pointer

.invalid-feedback
    color: $text-danger
    font-size: 12px
    margin-top: 5px

.login-footer
    margin-bottom: 20px
    color: $text-light
    font-size: 14px
    font-weight: 400

    a
        color: $link-color
