<div class="login-container">
    <div class="login-content">
        <h4>Sign In</h4>

        <div class="additional-sing-in">
            <app-button class="margin-top" text="Sign In with GitHub" variant="outline-primary" width="100%">
            </app-button>
            <app-button
                class="margin-top"
                id="buttonDiv"
                text="Sign In with Google"
                variant="outline-primary"
                width="100%">
            </app-button>
        </div>

        <app-barrier [text]="'or'"></app-barrier>

        <form class="login-form" (ngSubmit)="loginForm.valid && login()">
            <app-input [formControl]="$any(loginForm.controls['email'])" [label]="'email'"> </app-input>

            <div class="input-wrapper">
                <app-input
                    [formControl]="$any(loginForm.controls['password'])"
                    [label]="'password'"
                    [type]="'password'">
                </app-input>
                <a href="">Forget password</a>
            </div>

            <app-button
                class="margin-top"
                [isDisabled]="loginForm.invalid"
                text="Sing In"
                variant="filled"
                width="100%">
            </app-button>
        </form>
    </div>

    <div class="login-footer">No account? <a routerLink="/registration">Sign Up</a></div>
</div>
