<div class="container">
    <nav>
        <ul class="navbar-list">
            <li class="navbar-item">
                <a routerLink="./changes" routerLinkActive="active" class="navbar-link">Changes</a>
            </li>
            <li class="navbar-item">
                <a routerLink="./pull-requests" routerLinkActive="active" class="navbar-link">PRs</a>
            </li>
            <li class="navbar-item">
                <a routerLink="./branches" routerLinkActive="active" class="navbar-link">Branches</a>
            </li>
            <li class="navbar-item">
                <a routerLink="./scripts" routerLinkActive="active" class="navbar-link">Scripts</a>
            </li>
            <li class="navbar-item"><a routerLink="./code" routerLinkActive="active" class="navbar-link">Code</a></li>
            <li class="navbar-item">
                <a routerLink="./settings" routerLinkActive="active" class="navbar-link">Settings</a>
            </li>
        </ul>
    </nav>
    <div class="right-container">
        <app-dropdown
            [options]="branches"
            [width]="300"
            (selectedValueChanged)="onBranchSelected($event)"></app-dropdown>
        <app-button text="+" height="30px" width="35px" padding="" variant="outline-secondary"></app-button>
        <app-button text="Load latest changes" variant="outline-primary" class="align-right"></app-button>
    </div>
</div>
