@import "/src/styles/color"
@import "/src/styles/reusable"

.container
    margin-left: 20px
    margin-right: 10px
    margin-bottom: 10px
    display: flex
    justify-content: space-between
    align-items: center

app-dropdown
    margin-left: auto

.horizontal-separator
    border-bottom: 1px solid $light-gray
    width: 100%

h5
    font-size: 18px
    @extend .title
