@import "/src/styles/color"
.container
    padding: 10px

.main-content
    display: flex
    max-height: 550px   

.solution-sector
    width: 100%
    border-radius: 10px
    background-color: $project-background-color
    padding: 10px
    display: flex
    margin-left: 10px
    app-code
        width: 100%

.nav
    margin-top: 20px
    display: flex
    justify-content: space-between

.margin-right
    margin-right: 15px
