<div class="container">
    <div class="main-content">
        <app-tree [asCheckList]="true"></app-tree>
        <div class="solution-sector">
            <app-code [textPair]="textPair"></app-code>
        </div>
    </div>

    <div class="nav">
        <div>
            <app-button class="margin-right" text="Commit" variant="outline-primary" width="120px"></app-button>
            <app-button text="Push" variant="outline-primary" width="120px"></app-button>
        </div>
        <div>
            <app-button class="margin-right" text="Static data" variant="outline-primary" width="155px"></app-button>
            <app-button text="pre/post-commit script" variant="outline-primary" width="240px"></app-button>
        </div>
    </div>
</div>

