<div class="container">
    <div class="main-content">
        <app-tree [asCheckList]="true" [treeData]="items" (selectionChange)="selectionChanged($event)"
            (messageChange)="messageChanged($event)">
        </app-tree>
        <div class="changes-content">
            <div *ngFor="let changes of selectedContentChanges" class="solution-sector">
                <app-code *ngIf="changes.sideBySideDiff" [textPair]="changes.sideBySideDiff" [height]="'100%'"
                    [header]="changes.schemaName + '.' + changes.itemName">
                </app-code>
            </div>
        </div>
    </div>

    <div class="nav">
        <app-button (buttonOnClick)="commit()" [isDisabled]="!validateCommit()" text="Commit" variant="outline-primary"
            width="100%">
        </app-button>
    </div>
</div>