@import "/src/styles/color"
.container
    height: 660px
    display: flex
    padding: 20px

.tree-component
    width: 20%
    background-color: $project-background-color
    margin-right: 30px

.solution-sector
    width: 80%
    border-radius: 10px
    background-color: $project-background-color
    padding: 10px 6px
