<div class="container">
    <div class="content">
        <div class="dropdown-users" *ngIf="isDropdownVisible">
            <app-dropdown-select
                [width]="'100%'"
                [placeholder]="'Choose members'"
                [options]="dropdownUsers"
                [template]="usertemplate"
                [chipTemplate]="chiptemplate"
                [(ngModel)]="selectedUsers"
                [filterPredicate]="filter"
                (valueChange)="onDropdownValueChange($event)"
            >
            </app-dropdown-select>
        </div>
            <ng-template #usertemplate let-item>
                <div class="user-container">
                    <img src="{{ item.avatarUrl }}" />
                    <p>{{ getFullName(item) }}</p>
                </div>
            </ng-template>
            <ng-template #chiptemplate let-item>
                <p>{{ item.email }}</p>
            </ng-template>
        <div class="action-buttons">
            <app-button text="Add" width="100%" variant="outline-secondary"
                        (buttonOnClick)="addUser()"
                        [isDisabled]="selectedUsers.length === 0"
            >
            </app-button>

            <app-button text="Close" width="100%" variant="outline-secondary" (mousedown)="close()">
            </app-button>
        </div>
    </div>
</div>
