.user-container
    display: flex
    align-items: center

    img
        padding: 5px
        min-height: 36px
        min-width: 36px
        width: 36px
        height: 36px
        border-radius: 50%
        overflow: hidden

.action-buttons
    display: flex
    flex-direction: row
    gap: 20px
    margin-top: 80%
