<div class="container">
    <div class="content">
        <div class="header">
            <h4 class=".header-title">Add members</h4>
            <app-close-btn (buttonOnClick)="close()"></app-close-btn>
        </div>
        <div class="dropdown-users" *ngIf="isDropdownVisible">
            <app-dropdown-select
                [width]="'100%'"
                [placeholder]="'Choose members'"
                [options]="dropdownUsers"
                [template]="usertemplate"
                [chipTemplate]="chiptemplate"
                [(ngModel)]="selectedUsers"
                [filterPredicate]="filter"
                (valueChange)="onDropdownValueChange($event)"
            >
            </app-dropdown-select>
        </div>
            <ng-template #usertemplate let-item>
                <div class="user-container">
                    <app-avatar
                        class="avatar"
                        [userName]="item.firstName + ' ' + item.lastName"
                        [imgLink]="item.avatarUrl"
                        size="30"
                    ></app-avatar>
                    <p>{{ getFullName(item) }}</p>
                </div>
            </ng-template>
            <ng-template #chiptemplate let-item>
                <p>{{ item.email }}</p>
            </ng-template>
        <div class="action-buttons">
            <app-button text="Add" width="100%" variant="outline-primary"
                        (buttonOnClick)="addUser()"
                        [isDisabled]="selectedUsers.length === 0"
            >
            </app-button>
        </div>
    </div>
</div>
