@import "/src/styles/reusable"

.container
    display: flex
    flex-direction: column
    height: 100%

.content
    display: flex
    flex-direction: column
    height: 100%
    justify-content: space-between

.modal-header
    display: flex
    justify-content: space-between
    align-items: center

h4
    margin: 0
    font-size: 24px
    @extend .title

.dropdown-users
    height: 270px
    overflow-y: auto

.user-container
    display: flex
    align-items: center
    height: 100%

    app-avatar
        margin-right: 5px
        margin-bottom: 8px

.action-buttons
    display: flex
    margin-top: 10px
