<div class="profile-container">
    <h3 class="section-header">User Profile</h3>

    <span><fa-icon [icon]="eyeIcon"></fa-icon></span>

    <div class="header">
        <span class="initials">{{ getUserInitials() }}</span>
        <app-button text="Go Back" (click)="goBack()"></app-button>
    </div>

    <section class="section">
        <h4 class="section-header">Edit Profile</h4>
        <div class="section-container">
            <form [formGroup]="userNamesForm" (ngSubmit)="updateUserNames()">
                <app-input
                    [formControl]="$any(userNamesForm.controls['username'])"
                    [label]="'username'"
                    [type]="'text'"
                    placeholder="Enter Username">
                </app-input>
                <app-input
                    [formControl]="$any(userNamesForm.controls['firstName'])"
                    [label]="'first name'"
                    [type]="'text'"
                    placeholder="Enter First Name">
                </app-input>
                <app-input
                    [formControl]="$any(userNamesForm.controls['lastName'])"
                    [label]="'last name'"
                    [type]="'text'"
                    placeholder="Enter Last Name">
                </app-input>
                <app-button text="Save" type="submit"></app-button>
            </form>
        </div>
    </section>

    <section class="section">
        <h4 class="section-header">Change password</h4>
        <div class="form-inputs">
            <form class="form" [formGroup]="passwordForm" (ngSubmit)="updateUserPassword()">
                <div class="form-group">
                    <label class="label-input" for="currentPassword">Current Password</label>
                    <input
                        class="input-text"
                        type="password"
                        id="currentPassword"
                        formControlName="currentPassword"
                        placeholder="Current password" />
                    <fa-icon [icon]="eyeIcon"></fa-icon>
                </div>
                <div class="form-group">
                    <label class="label-input" for="newPassword">New Password</label>
                    <input
                        class="input-text"
                        type="password"
                        id="newPassword"
                        formControlName="newPassword"
                        placeholder="New password" />
                </div>
                <div class="form-group">
                    <label class="label-input" for="repeatPassword">Repeat New Password</label>
                    <input
                        class="input-text"
                        type="password"
                        id="repeatPassword"
                        formControlName="repeatPassword"
                        placeholder="Repeat new password" />
                </div>

                <button class="save-btn" type="submit">Save</button>
            </form>
        </div>
    </section>

    <section class="section">
        <h4 class="section-header">Notifications</h4>
        <form [formGroup]="notificationsForm" (ngSubmit)="updateUserNotifications()">
            <div class="form-group">
                <input type="checkbox" id="notifyOnSquirrel" formControlName="notifyOnSquirrel" />
                <label for="notifyOnSquirrel">Notify on Squirrel</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="notifyByEmail" formControlName="notifyByEmail" />
                <label for="notifyByEmail">Notify by Email</label>
            </div>
            <button type="submit">Save</button>
        </form>
    </section>
</div>
