<div class="user-profile-container">
    <h4>User Profile</h4>

    <div class="edit-profile-content">
        <h5>Edit profile</h5>
        <div class="avatar-container">
            <img class="avatar avatar-style" src="{{ user.avatarUrl }}" alt="Here should be an avatar" />
        </div>

        <form [formGroup]="editProfileForm" (ngSubmit)="saveNewInfo()" class="edit-profile-form" action="">
            <app-input
                [formControl]="$any(editProfileForm.controls['username'])"
                [label]="'username'"
                [(ngModel)]="user.userName"
                placeholder="Enter Username">
            </app-input>
            <app-input
                [formControl]="$any(editProfileForm.controls['firstName'])"
                [label]="'first Name'"
                [(ngModel)]="user.firstName"
                placeholder="Enter FirstName">
            </app-input>
            <app-input
                [formControl]="$any(editProfileForm.controls['lastName'])"
                [label]="'last Name'"
                [(ngModel)]="user.lastName"
                placeholder="Enter your LastName">
            </app-input>

            <app-button class="margin-top" text="Save" variant="filled"> </app-button>
        </form>
    </div>

    <app-button class="margin-top" text="Go Back" variant="filled" (click)="goBack()"> </app-button>
</div>
