.projects-sector
    display: flex
    flex-direction: column
    margin-left: 79px
    gap: 16px
    margin-right: 2%
    margin-top: 1%

    .upper-panel-container
        display: flex
        justify-content: space-between
        align-items: center


    .mat-h3
        font-family: 'Montserrat Medium', sans-serif
        font-size: 36px
        margin-left: 1%

    .card-container
        display: flex
        flex-direction: column
        gap: 10px

        .mat-card
            .mat-card-content
                p
                    font-family: 'Montserrat SemiBold', sans-serif
                    font-size: 16px
                    margin: 0
