.projects-sector
    display: flex
    flex-direction: column
    margin-left: 79px
    gap: 16px
    margin-right: 2%
    margin-top: 1%

    .upper-panel-container
        display: flex
        justify-content: space-between
        align-items: center

    .mat-h3
        font-family: 'Montserrat Medium', sans-serif
        font-size: 36px
        margin-left: 1%

    .create-button
        height: 40px
        width: 120px
        font-family: 'Montserrat SemiBold', sans-serif
        font-size: 14px
        border: none
        background-color: #007bff
        color: #fff
        border-radius: 10px
        cursor: pointer

    .create-button:hover
        background-color: #0056b3

    .card-container
        .mat-card
            mat-card-content
                p
                    font-family: 'Montserrat SemiBold', sans-serif
                    font-size: 16px
                    margin: 0
