<div class="projects-container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="upper-panel-container">
        <h3 class="mat-h3">Projects</h3>
        <app-button
            class="create-button"
            text="Create Project"
            width="100%"
            variant="filled"
            (click)="openCreateModal()"
        >
        </app-button>
    </div>
    <div class="projects-sector">
        <div class="horizontal-separator"></div>
        <div *ngIf="!isLoading && projects.length === 0" class="no-content">
            <h4 class="mat-h4">No project is available for you.<br>Ask your teammates to add you or create a new one</h4>
            <app-button
                class="create-button"
                text="Create Project"
                width="100%"
                variant="filled"
                (buttonOnClick)="openCreateModal()">
            </app-button>
        </div>
        <div class="card-container">
            <app-project-card (click)="chooseProject(project)"
                              *ngFor="let project of projects"
                              [project]="project">
            </app-project-card>
        </div>
    </div>
    
</div>
