<div class="container">
    <div class="main-content">
        <app-tree
            [asCheckList]="true"
            [treeData]="items"
            (selectionChange)="selectionChanged($event)"
            (messageChange)="messageChanged($event)"></app-tree>
        <div class="code-content">
            <div *ngFor="let changes of selectedContentChanges" class="solution-sector">
                <h2>{{ DatabaseItemTypeName[changes.itemType] }}: {{ changes.schemaName }}.{{ changes.itemName }}</h2>
                <textarea>{{ formatContent(changes.itemType, changes.sideBySideDiff.newTextLines) }}</textarea>
            </div>
        </div>
    </div>

    <div class="nav">
        <div>
            <app-button class="margin-right" text="Apply" variant="outline-primary" width="120px"></app-button>
        </div>
    </div>
</div>
