@import "/src/styles/color"
@import "/src/styles/weights"

.container
    padding: 10px

.main-content
    display: flex
    app-tree-one
        height: 600px
        width: 20%

.code-content
    width: 80%
    height: 600px
    overflow-y: scroll

.nav
    margin-top: 20px
    display: flex
    justify-content: space-between

.margin-right
    margin-right: 15px