@import "/src/styles/reusable"

.modal-header
    display: flex
    justify-content: space-between
    align-items: center

h4
    margin: 0
    font-size: 24px
    @extend .title

.input
    @extend .input-errors-padding
