<div class="container">
    <label *ngIf="label">{{ label | titlecase }}</label>
    <div class="input-wrapper">
        <input
            [formControl]="control"
            type="{{ type === 'text' ? 'text' : show ? 'text' : 'password' }}"
            placeholder="{{ placeholder }}"
            [ngStyle]="{
                width: width,
                height: height,
                'padding-right': type === 'password' ? '40px' : '15px'
            }"/>
        <span *ngIf="type === 'password'" class="hide" (click)="show = !show">
            <img [src]="show ? 'assets/hide-1.svg' : 'assets/hide-2.svg'" alt="show/hide" [ngClass]="show ? 'hide-icon' : 'show-icon'" />
        </span>


    </div>

    <div *ngIf="control.touched">
        <div class="invalid-feedback" *ngIf="control.errors?.['required']">
            Please enter a {{ label === '' ? name : (label | titlecase) }}
        </div>

        <div class="invalid-feedback" *ngIf="control.errors?.['noCyrillic']">
            Only Latin letters, digits, special characters and spaces are allowed
        </div>

        <div class="invalid-feedback" *ngIf="control.errors?.['minlength']">
            {{ label === '' ? name : (label | titlecase) }} must be at least
            {{control.errors?.['minlength'].requiredLength}} characters
        </div>

        <div class="invalid-feedback" *ngIf="control.errors?.['maxlength']">
            {{ label === '' ? name : (label | titlecase) }} must be at most
            {{control.errors?.['maxlength'].requiredLength}} characters
        </div>

        <div class="invalid-feedback" *ngIf="control.errors?.['emailMatch']">Not valid email format</div>

        <div class="invalid-feedback" *ngIf="control.errors?.['notMatching']">
            {{ label === '' ? name : (label | titlecase) }} must match
        </div>

        <div class="invalid-feedback" *ngIf="control.errors?.['wrongCharacters']">
            Only Latin letters, Digits and Special characters
        </div>

        <div class="invalid-feedback" *ngIf="control.errors?.['userNameMatch']">
            Only Latin letters, numbers, dashes and underscores
        </div>

        <div class="invalid-feedback" *ngIf="control.errors?.['nameMatch']">
            {{ label === '' ? name : (label | titlecase) }} must contain Latin letters/hyphen
        </div>

        <div class="invalid-feedback" *ngIf="control.errors?.['lowerExist']">At least one lowercase letter</div>

        <div class="invalid-feedback" *ngIf="control.errors?.['upperExist']">At least one uppercase letter</div>

        <div class="invalid-feedback" *ngIf="control.errors?.['branchNameMatch']">
            Branch name must contain latin/number/dash/underscore and not contain double dashes or dash on the start/end
        </div>

        <div class="invalid-feedback" *ngIf="control.errors?.['projectNameMatch']">
           Must contain Only Latin letters, digits, special characters, spaces and no repeated spaces
        </div>
    </div>
</div>
