@import "/src/styles/color"
.container
    display: flex
    flex-direction: column

label
    color: $text-main
    font-size: 12px
    font-weight: 500
    margin-top: 10px
    margin-bottom: 5px

input
    box-sizing: border-box
    border-radius: 7px
    padding: 0 15px
    font-size: 14px
    background-color: $bg-input
    border: none

input:focus
    outline: none

.invalid-feedback
    color: $text-danger
    font-size: 12px
    margin-top: 5px

.input-wrapper
    position: relative
    input
        width: 100%

.hide
    position: absolute
    top: 50%
    right: 10px
    transform: translateY(-50%)
    cursor: pointer

    img
        margin-bottom: -4px
        width: 24px
