<div class="sidebar">
    <mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="after">
        <app-profile-menu></app-profile-menu>
    </mat-menu>
    <img class="logo" src="../../../../assets/logo.svg" alt="Logo Icon">
    <img class="folder-icon" src="../../../../assets/open_folder_icon.png" alt="Folder Icon">
    <img class="bell-icon" src="../../../../assets/notification_icon.png" alt="Bell Icon">
    <img [matMenuTriggerFor]="userMenu" class="account-icon" src="../../../../assets/account_circle_icon.png" alt="Account Icon">
</div>
