.sidebar
    width: 79px
    height: 100vh
    background-color: #503AF9
    position: fixed
    top: 0
    left: 0
    display: flex
    flex-direction: column
    align-items: center

    .logo
        width: 54px
        height: 54px
        border-radius: 27px
        margin-top: 12px

    .folder-icon
        width: 21px
        height: 16px
        padding: 4px 2px
        margin-top: 22px

    .bell-icon
        width: 16px
        height: 20px
        padding: 2px 4px
        margin-top: 36px

    .account-icon
        width: 20px
        height: 20px
        padding: 2px 2px
        margin-top: 36px
