<div class="sidebar">
    <div class="tab" routerLink="/main">
        <img class="logo" src="../../../../assets/logo.png" alt="Logo Icon">
    </div>
    <div class="tab nav" routerLink="/main/changes" routerLinkActive="active">
        <img class="folder-icon" src="../../../../assets/open_folder_icon.png" alt="Folder Icon">
    </div>
    <div class="tab nav" routerLink="/main/pull-requests" routerLinkActive="active">
        <img class="bell-icon" src="../../../../assets/notification_icon.png" alt="Bell Icon">
    </div>
    <div class="tab nav" routerLink="/main/branches" routerLinkActive="active">
        <img class="account-icon" src="../../../../assets/account_circle_icon.png" alt="Account Icon">
    </div>
</div>
