<mat-dialog-content>
    <div class="modal-header">
        <h4>Create Branch</h4>
        <app-close-btn (buttonOnClick)="close()"></app-close-btn>
    </div>
    <div class="input-container">
        <app-input [placeholder]="'Enter the name of your branch'"
                   [formControl]="$any(branchForm.controls['branchName'])" [label]="'Branch name'"
                   (input)="replaceSpacesWithHyphens($event)">
        </app-input>
    </div>
    <div class="drop-down-container">
        <mat-form-field appearance="outline" class="custom-select full-width">
            <mat-label for="parentSelect">Parent:</mat-label>
            <mat-select id="parentSelect" [formControl]="$any(branchForm.controls['selectedParent'])">
                <mat-option *ngFor="let branch of branches" [value]="branch.id">{{branch.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="modal-buttons">
    <app-button text="Create" width="100%" variant="outline-primary" [isDisabled]="branchForm.invalid"
                (buttonOnClick)="createBranch()">
    </app-button>
</mat-dialog-actions>
