@import 'src/styles/color'
@import 'src/styles/weights'

.container
    width: 450px
    height: 340px
    overflow: hidden

.mat-h4
    font-family: 'Montserrat SemiBold', sans-serif
    font-size: 24px

.modal-buttons
    display: flex
    gap: 5%
    justify-content: center
    align-items: center

.drop-down-container
    margin: 15px auto 5px auto

.full-width
    width: 100%
    height: 40%

.label
    font-size: 12px
    font-weight: $medium-weight

.invalid-feedback
  color: $text-danger
  font-size: 12px
