@import "/src/styles/color"
@import "/src/styles/weights"

.user-card
    width: 250px
    height: 152px
    position: relative
    background: white
    border-radius: 10px
    cursor: pointer

.user-card-top
    width: 250px
    height: 33px
    top: 0
    background: $primary-color
    border-radius: 10px 10px 0 0

.avatar-container
    width: 44px
    height: 44px
    top: 10px
    left: 103px
    position: absolute
    align-content: center

.avatar
    border: 3px solid $primary-color
    border-radius: 50%
    position: absolute

.user-name
    width: 130px
    height: 20px
    top: 64px
    position: absolute
    opacity: 0.50
    left: 50%
    transform: translateX(-50%)
    overflow-x: hidden

.user-name-content
    color: #282828
    font-size: 12px
    font-weight: $bold-weight

.user-email
    left: 47px
    top: 85px
    position: absolute
    opacity: 0.50
    color: #282828
    font-size: 12px
    font-weight: $normal-weight
    left: 50%
    transform: translateX(-50%)
    word-wrap: break-word

.link-remove
    width: 50px
    right: 12px
    bottom: 13px
    position: absolute
    color: #282828
    font-size: 12px
    font-weight: $normal-weight
    text-decoration: none
    cursor: pointer
    transition: color 0.3s
    &:hover 
        color: $primary-color
