.user-info
    display: flex
    align-items: center
    font-size: 12px
    color: #6c757d
    width: 200px
    font-family: "Montserrat", sans-serif

.avatar
    margin-left: 5%
    width: 36px
    height: 36px
    border-radius: 50%
    background-color: #ccc
    margin-right: 8px

.name-email
    display: flex
    flex-direction: column
    align-items: flex-start

.user-name
    font-size: 14px
    color: #000
    font-weight: bold
    margin-bottom: -9px

.divider
    border-color: rgba(147, 149, 154, 0.2)

.menu-item
    color: #000
    display: flex
    align-items: center
    font-family: "Montserrat", sans-serif
    .icon
        margin-right: 8px
        color: #6c757d
        img
            width: 20px
            height: 20px
            margin-bottom: 8px

.logout
    color: #6f42c1
    .icon
        img
            width: 20px
            height: 20px
            margin-bottom: 6px
