<div class="dropdown" [ngClass]="{ active: isActive }" (click)="toggleActiveClass()" [style.width.px]="width">
    <div *ngIf="dropdownIcon" class="dropdown-icon" [innerHTML]="dropdownIcon"></div>
    <input
        type="text"
        readonly
        [(ngModel)]="selectedOption"
        [ngClass]="['dropdown-selected-option', dropdownIcon ? 'dropdown-selected-option-with-icon' : '']" />
    <div class="options">
        <input
            class="search-input"
            type="text"
            [(ngModel)]="searchTerm"
            placeholder="Search..."
            (click)="$event.stopPropagation()" />
        <div class="option" (click)="onOptionSelected(option)" *ngFor="let option of filterOptions()">
            <span class="selection-icon" *ngIf="selectedOption === option">
                <fa-icon [icon]="faCheckIcon"></fa-icon>
            </span>
            <span class="option-text">{{ option }}</span>
        </div>
    </div>
</div>
