<div class="dropdown" [ngClass]="{ active: isActive }" (click)="toggleActiveClass()" [style.width.px]="width">
    <div *ngIf="dropdownIcon" class="dropdown-icon"><img src="{{ dropdownIcon }}"></div>
    <div class="input"
        [ngClass]="['dropdown-selected-option', dropdownIcon ? 'dropdown-selected-option-with-icon' : '']">
        <span *ngIf="!template">{{ selectedOption }}</span>
        <span *ngIf="selectedOption"><ng-template *ngTemplateOutlet="template; context: { $implicit: selectedOption }"></ng-template></span> 
    </div>
    <div class="options">
        <input
            class="search-input"
            type="text"
            [(ngModel)]="searchTerm"
            placeholder="Search..."
            (click)="$event.stopPropagation()" />
        <div class="option" (click)="onOptionSelected(option)" *ngFor="let option of filterOptions()">
            <img class="selection-icon" *ngIf="selectedOption === option" src="assets/check-solid.svg"/>
            <span *ngIf="!template" class="option-text">{{ option }}</span>
            <span *ngIf="template" class="option-text"><ng-template *ngTemplateOutlet="template; context: { $implicit: option }"></ng-template></span>
        </div>
        <div class="option" (click)="openModal()" *ngIf="modalTemplate">
            <span class="option-text">{{ modalOption }}</span>
        </div>
    </div>
</div>
